<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Consultores</h2>
    </div>

    <% if @consultores.any? %>
      <div class="row">
        <% @consultores.each do |consultor| %>
          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4><a href="<%= consultor_path(consultor) %>"><%= consultor.nome %></a></h4>
                <p><strong>Email:</strong> <%= consultor.email %></p>
                <p><strong>Consultor:</strong> <%= consultor.consultor ? 'Sim' : 'Não' %></p>
                
                <% if consultor.consultor %>
                  <p><strong>Especialidade:</strong> <%= consultor.especialidade.nome %></p>
                <% end %>
                
                <p><strong>Cidade:</strong> <%= consultor.cidade.descricao %></p>
                <p><strong>Data de Criação:</strong> <%= consultor.created_at.strftime("%d/%m/%Y") %></p>
                <p><strong>Última Atualização:</strong> <%= consultor.updated_at.strftime("%d/%m/%Y") %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>Não há consultores disponíveis para esta especialidade.</p>
    <% end %>
  </div>
</section>
