<section id="services" class="services section-bg">
  <div class="container custom-container" data-aos="fade-up">
    <div class="section-title">
      <h2 class="mt-4"><%= @consultor.nome %></h2>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <p><strong>Email:</strong> <%= @consultor.email %></p>
        <p><strong>Especialidade:</strong> <%= @consultor.especialidade.nome %></p>
        <p><strong>Cidade:</strong> <%= @consultor.cidade.descricao %></p>
        <p><strong>Descrição:</strong> <%= @consultor.descricao %></p>
      </div>
    </div>

    <div class="row">
  <% @resultado.each do |disponibilidade| %>
    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box-agendamento">
        <h4><%= disponibilidade[:data].strftime("%d/%m/%Y") %></h4>
        
        <h5>Horários:</h5>
        <p>
          <strong><%= disponibilidade[:hora_inicio] %> - <%= disponibilidade[:hora_fim] %>:</strong> 
          <% if disponibilidade[:ocupado] %>
            <button class="btn btn-warning" disabled>
              Ocupado
            </button>
          <% else %>
            <%= link_to 'Agendar', new_agendamento_path(
              consultor_id: @consultor.id,
              cliente_id: current_user.id,
              data: disponibilidade[:data],
              hora_inicio: disponibilidade[:hora_inicio],
              hora_fim: disponibilidade[:hora_fim]
            ), class: 'btn btn-success' %>
          <% end %>
        </p>

        <h5>Agendamentos:</h5>
        <% @agendamentos.each do |agendamento| %>
          <% if agendamento.data.to_date == disponibilidade[:data] %>
            <p>
              <strong><%= agendamento.cliente.nome %>:</strong> 
              <%= agendamento.hora_inicio.strftime("%H:%M") %> - 
              <%= agendamento.hora_fim.strftime("%H:%M") %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  </div>
</section>
