<section id="services" class="services section-bg">
  <div class="container custom-container" data-aos="fade-up">
    <div class="section-title">
      <h2 class="mt-4"><%= @consultor.nome %></h2>
    </div>
    
    <% unless current_user.consultor %>
      <div class="card mb-4">
        <div class="card-body">
          <p><strong>Email:</strong> <%= @consultor.email %></p>
          <p><strong>Especialidade:</strong> <%= @consultor.especialidade.nome %></p>
          <p><strong>Cidade:</strong> <%= @consultor.cidade.descricao %></p>
          <p><strong>Descrição:</strong> <%= @consultor.descricao %></p>
        </div>
      </div>
    <% end %>

    <!-- Agrupa as disponibilidades por data -->
    <div class="row">
  <% @resultado.group_by { |item| item[:disponibilidade].data }.each do |data, horarios| %>
    <div class="col-md-4 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box-agendamento d-flex flex-column">
        <h4><%= data.strftime("%d/%m/%Y") %></h4>

        <% horarios.each do |item| %>
          <div class="d-flex flex-wrap align-items-center">
            <strong class="mr-2"><%= item[:disponibilidade].hora_inicio.strftime("%H:%M") %> às <%= item[:disponibilidade].hora_fim.strftime("%H:%M") %></strong>
            
            <% if item[:cancelado] == true %>
              <span class="btn btn-warning btn-sm ml-2"><strong>Cancelado</strong></span>
            <% elsif item[:status] == 'Ocupado' %>
              <% if current_user.consultor %>
                <span class="btn btn-info btn-sm ml-2">
                  <strong><%= item[:cliente]&.nome || 'Desconhecido' %></strong>
                </span>
              <% elsif item[:cliente] && item[:cliente].id == current_user.id %>
                <span class="btn btn-success btn-sm ml-2"><strong><%= current_user.nome %></strong></span>
              <% else %>
                <span class="btn btn-danger btn-sm ml-2"><strong>Ocupado</strong></span>
              <% end %>
            <% else %>
              <% if current_user.consultor %>
                <span class="btn btn-success btn-sm ml-2">Vago</span>
              <% else %>
                <%= link_to 'Agendar', new_agendamento_path(
                    disponibilidade_id: item[:disponibilidade].id,
                    data: item[:disponibilidade].data,
                    hora_inicio: item[:disponibilidade].hora_inicio,
                    hora_fim: item[:disponibilidade].hora_fim,
                    consultor_id: @consultor.id,
                    cliente_id: current_user.id
                  ), class: 'btn btn-primary btn-sm ml-2' %>
              <% end %>
            <% end %>

            <% if item[:status] != 'Vago' && current_user.consultor %>
              <% agendamento = Agendamento.where(disponibilidade_id: item[:disponibilidade].id).first %>
              <% if agendamento %>
                <% if agendamento.cancelado == true %>
                  <span class="btn btn-warning btn-sm ml-1"><strong>Cancelado</strong></span>
                <% else %>
                  <%= button_to 'Cancelar', agendamento_path(agendamento.id), method: :delete, data: { confirm: 'Tem certeza que deseja cancelar este agendamento?' }, class: 'btn btn-sm  btn-danger' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

  </div>
</section>
