   <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Especialidades</h2>
        </div>

<div class="row">
  <% @especialidades.each do |especialidade| %>
    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
      <div class="icon-box">
        <h4>
          <a href="<%= especialidade_path(especialidade) %>"><%= especialidade.nome %></a>

<% if current_user.consultor === true %>
    <div class="float-end">
      <%= button_to '<i class="bi bi-pencil"></i>'.html_safe, edit_especialidade_path(especialidade), method: :get, class: 'btn btn-primary btn-sm', title: 'Editar', form: { class: 'd-inline' } %>
    </div>
<% end %>
        </h4>
        <p><%= especialidade.descricao %></p>
      </div>
    </div>
  <% end %>
</div>  

        
      </div>
    </section>  
    <% if current_user&.consultor? %>
    <%= link_to "New especialidade", new_especialidade_path, class: 'btn btn-primary' %> 
    <% end %>










