<div id="<%= dom_id disponibilidade_consultor %>">
  <p>
    <strong>Consultor:</strong>
    <%= disponibilidade_consultor.consultor_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= disponibilidade_consultor.data %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= disponibilidade_consultor.hora_inicio %>
  </p>

  <p>
    <strong>Hora fim:</strong>
    <%= disponibilidade_consultor.hora_fim %>
  </p>

</div>
