<p style="color: green"><%= notice %></p>

<%= render @disponibilidade_consultor %>

<div>
  <%= link_to "Edit this disponibilidade consultor", edit_disponibilidade_consultor_path(@disponibilidade_consultor) %> |
  <%= link_to "Back to disponibilidade consultors", disponibilidade_consultors_path %>

  <%= button_to "Destroy this disponibilidade consultor", @disponibilidade_consultor, method: :delete %>
</div>
