<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Cliente:</strong>
    <%= agendamento.cliente_id %>
  </p>

  <p>
    <strong>Consultor:</strong>
    <%= agendamento.consultor_id %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= agendamento.data %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= agendamento.hora_inicio %>
  </p>

  <p>
    <strong>Hora fim:</strong>
    <%= agendamento.hora_fim %>
  </p>

</div>
