<%= form_with(model: agendamento, local: true, class: "centered-form") do |form| %>
  <% if agendamento.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(agendamento.errors.count, "error") %> prohibited this agendamento from being saved:</h2>
      <ul>
        <% agendamento.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-12">
  <div class="form-group">
    <%= form.hidden_field :disponibilidade_id, value: agendamento.disponibilidade_id %>
  </div>
</div>


 <div class="form-row justify-content-center">
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :cliente_id, style: "display: block" %>
        <%= form.collection_select :cliente_id, User.all, :id, :nome, { include_blank: true }, class: "form-control", disabled: !agendamento.new_record? %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :consultor_id, style: "display: block" %>
        <%= form.collection_select :consultor_id, User.all, :id, :nome, { include_blank: true }, class: "form-control", disabled: !agendamento.new_record? %>
      </div>
    </div>


    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :data, style: "display: block" %>
        <%= form.date_field :data, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :hora_inicio, style: "display: block" %>
        <%= form.time_field :hora_inicio, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :hora_fim, style: "display: block" %>
        <%= form.time_field :hora_fim, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group mt-3">
    <div class="d-flex justify-content-between">
      <div>
        <%= link_to "<i class='fas fa-arrow-left'></i>".html_safe, agendamentos_path, class: "btn btn-secondary" %>
      </div>
      <div>
        <%= form.submit "Salvar", class: "btn btn-primary me-2" %>
      </div>
    </div>
  </div>
<% end %>
