<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Agendamentos</h2>
    </div>

    <div class="row">
      <% @agendamentos_por_data.each do |data, agendamentos| %>
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box-agendamento">
            <h4><%= data.strftime("%d/%m/%Y") %></h4> <!-- Cabeçalho para a data -->
            <% agendamentos.each do |agendamento| %>
              <p>
                <strong><%= current_user.consultor? ? "Cliente:" : "Consultor:" %></strong> 
                <%= current_user.consultor? ? agendamento.cliente.nome : agendamento.consultor&.nome %>
              </p>
              <p>
                <strong>Horário:</strong> 
                <%= agendamento.hora_inicio.strftime("%H:%M") %> - 
                <%= agendamento.hora_fim.strftime("%H:%M") %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  
  </div>
</section>
