<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Agendamentos</h2>
    </div>

    <div class="row">
      <% @agendamentos_por_data.each do |data, agendamentos| %>
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box-agendamento">
            <h4><%= data.strftime("%d/%m/%Y") %></h4> <!-- Cabeçalho para a data -->
            <% agendamentos.each do |agendamento| %>
              <p>
                <strong><%= current_user.consultor? ? "Cliente:" : "Consultor:" %></strong> 
                <%= current_user.consultor? ? agendamento.cliente.nome : agendamento.consultor&.nome %>
              </p>
              <p>
                <strong>Horário:</strong> 
                <%= agendamento.hora_inicio.strftime("%H:%M") %> - 
                <%= agendamento.hora_fim.strftime("%H:%M") %>
              </p>

              <% if agendamento.cancelado %>
                <button class="btn btn-danger">Cancelado</button>
              <% else %>
                <% if current_user.consultor? && agendamento.consultor == current_user %>
                  <!-- O consultor pode cancelar o agendamento -->
                  <%= button_to 'Cancelar', agendamento_path(agendamento.id), method: :delete, data: { confirm: 'Tem certeza que deseja cancelar este agendamento?' }, class: 'btn btn-warning' %>
                <% elsif !current_user.consultor? && agendamento.cliente == current_user %>
                  <!-- O cliente pode cancelar o agendamento -->
                  <%= button_to 'Cancelar', agendamento_path(agendamento.id), method: :delete, data: { confirm: 'Tem certeza que deseja cancelar este agendamento?' }, class: 'btn btn-warning' %>
                <% end %>
              <% end %>

              <!-- Linha separadora usando Bootstrap -->
              <hr class="my-3">
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  
  </div>
</section>
