<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this usuario", edit_usuario_path(@user) %> |
  <%= link_to "Back to usuarios", usuarios_path %>

<%= button_to "Destroy this usuario", usuarios_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
