<%= simple_form_for @pessoa do |form| %>
  <% if @pessoa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@pessoa.errors.count, "error") %> prohibited this pessoa from being saved:</h2>

      <ul>
        <% @pessoa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.input :nome %>
  </div>

  <div>
    <%= form.input :cpf %>
  </div>

  <div>
    <%= form.input :data_nascimento, as: :date %>
  </div>

  <div>
    <%= form.input :telefone %>
  </div>

  <div>
    <%= form.input :email %>
  </div>

  <div>
    <%= form.input :endereco %>
  </div>

  <div>
    <%= form.button :submit %>
  </div>
<% end %>
