<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="/">Proexpert</a></h1>
        
        <% if user_signed_in? %>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    
                    <% if !current_user.consultor %>
                        <li><a href="<%= especialidades_path %>">Especialidades</a></li>
                        <li><a href="<%= areas_path %>">Áreas</a></li>
                        <li><a href="<%= agendamentos_path %>">Agendamentos</a></li>
                        <li><a href="<%= consultor_index_path %>">Consultores</a></li>
                        <li><a href="<%= cidades_path %>">Cidades</a></li>

                    <% else %>
                        <li><a href="<%= especialidades_path %>">Especialidades</a></li>
                        <li><a href="<%= areas_path %>">Áreas</a></li>
                        <li><a href="<%= consultor_path(current_user.id) %>">Agendamentos</a></li>
                        <li><a href="<%= disponibilidade_consultors_path %>">Disponibilidade</a></li>
                        <li><a href="<%= cidades_path %>">Cidades</a></li>
                    <% end %>

                  <li class="dropdown">
  <a href="#" class="nav-link dropdown-toggle getstarted scrollto" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <%= current_user.nome.present? ? current_user.nome : "Usuário sem nome definido" %>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to 'Meus Dados', usuarios_path, class: "dropdown-item" %> <!-- Link para os dados do usuário -->
    </li>
    <li>
      <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </li>
  </ul>
</li>


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        <% else %>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="getstarted scrollto" href="<%= new_user_session_path %>">Entrar</a></li>
                </ul>
            </nav>
        <% end %>
    </div>
</header>
