<%= simple_form_for @tipo_usuario do |form| %>
  <% if @tipo_usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@tipo_usuario.errors.count, "error") %> prohibited this tipo_usuario from being saved:</h2>
      <ul>
        <% @tipo_usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.input :descricao, label: 'Descrição', input_html: { style: 'display: block' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
