<%= form_with(model: tipo_usuario) do |form| %>
  <% if tipo_usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tipo_usuario.errors.count, "error") %> prohibited this tipo_usuario from being saved:</h2>

      <ul>
        <% tipo_usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_field :descricao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
