<%= simple_form_for @agenda do |form| %>
  <% if @agenda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
        <% @agenda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.input :data_hora, as: :datetime %>
  </div>

  <div>
    <%= form.input :id_consultor, collection: @consultores, as: :select, label_method: :name, value_method: :id, prompt: "Select a Consultor" %>
  </div>

  <div>
    <%= form.input :id_cliente, collection: @clientes, as: :select, label_method: :name, value_method: :id, prompt: "Select a Cliente" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
