<%= form_with(model: agenda) do |form| %>
  <% if agenda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
        <% agenda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data_hora, style: "display: block" %>
    <%= form.datetime_field :data_hora %>
  </div>

  <div>
    <%= form.label :id_consultor, style: "display: block" %>
    <%= form.number_field :id_consultor %>
  </div>

  <div>
    <%= form.label :id_cliente, style: "display: block" %>
    <%= form.number_field :id_cliente %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
