<%= simple_form_for @profissao do |form| %>
  <% if @profissao.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@profissao.errors.count, "error") %> prohibited this profissao from being saved:</h2>
      <ul>
        <% @profissao.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.input :nome, label: 'Nome', input_html: { style: 'display: block' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
